@use '../util' as *;

.btn-large {
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    position: relative;
    z-index: 1;
    font-size: rem(20);
    letter-spacing: 1.25px;

    @include breakpoint(medium) {
        max-width: 242px;
        font-size: rem(26);
    }
    
    @include breakpoint(large) {
        max-width: 274px;
        margin-right: 2em;
        font-size: rem(32);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 50%;
            background-color: hsla( var(--clr-light) , 0.15 );
            transition: transform 300ms ease-out, 
                        opacity 350ms ease-in-out;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: scale(1.5);
        }
    }
}

// Navigation toggle button
.nav-toggle {
    display: none;

    @include breakpoint-down(small) {
        display: block;
        position: absolute;
        top: 50%;
        right: rem(24);
        z-index: 100;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../assets/shared/icon-hamburger.svg');
        transform: translateY(-50%);

        &[aria-expanded='true'] {
            background-image: url('../assets/shared/icon-close.svg');
        }

        &:focus-visible {
            outline: 2px solid #D0D6F9;
            outline-offset: 2px;
        }
    }
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-light) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}