@use '../util' as *;

.line {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 17%; 
    left: 17%;
    right: 0;
    background: hsla( var(--clr-light) , .25 );

    @include breakpoint-down(medium) {
        display: none;
    }
}