@use '../util' as *;

.indicator--disc,
.indicator--numbered {
    aspect-ratio: 1;
    border-radius: 50%;
}

/* ===================== */
/* Underline Style       */
/* ===================== */
.indicator--underline {
    cursor: pointer;
    padding: var(--underline-gap, 2.25rem) 0;
    border-bottom: 3px solid hsla( var(--clr-light) , 0);

    &:hover,
    &:focus {
        border-color: hsla( var(--clr-light) , 0.5);
    }
    &.active, 
    &[aria-selected="true"] {
        color: hsl( var(--clr-light) );
        border-color: hsla( var(--clr-light) , 1);
    }
}

/* ===================== */
/* Dot Style             */
/* ===================== */
.indicator--disc {
    width: 15px;
    background-color: hsla( var(--clr-light) , 0.25);

    &:hover,
    &:focus {
        background-color: hsla( var(--clr-light) , 0.5);
    }
    &:focus {
        outline: 2px solid hsl( var(--clr-light) );
        outline-offset: 2px;
    }
    &[aria-selected="true"] {
        background-color: hsla( var(--clr-light) , 1);
    }
}

/* ===================== */
/* Numbered Style        */
/* ===================== */
.indicator--numbered {
    width: 80px;
    color: hsl( var(--clr-light) );
    border: 1px solid hsla( var(--clr-light) , 0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-600);
    background: transparent;

    &:hover,
    &:focus {
        border-color: hsla( var(--clr-light) , 1);
    }
    &:focus {
        outline: 2px solid hsl( var(--clr-light) );
        outline-offset: 2px;
    }
    &[aria-selected="true"] {
        color: hsl( var(--clr-dark) );
        background-color: hsla( var(--clr-light) , 1);
    }
}


/* ===================== */
/* Tabs                  */
/* ===================== */
.tab__list {
    --gap: 3vmin;
}

.tab-list > button.indicator--underline {
    background: transparent;
    justify-self: start;
}

.tab-panel {
    display: block;
    opacity: 1;
    transform: translateX(0);
    transition: transform 450ms ease-in-out, opacity 350ms linear;

    &[hidden] {
        opacity: 0;
        pointer-events: none;
        transform: translateX(100%);
    }
}

.tab-panel--crew[hidden],
.tab-panel--tech[hidden] {
    transform: translateX(-100%);
    @include breakpoint-down(medium) {
        transform: translateX(100%);
    }
}

.tab-panel__img {
    display: block;
    opacity: 1;
    transform: translateX(0);
    transition: transform 450ms ease-in-out, opacity 350ms linear;

    &[hidden] {
        opacity: 0;
        transform: translateX(100%);
    }
    &--destination[hidden] {
        transform: translateX(-100%);
        @include breakpoint-down(medium) {
            transform: translateX(100%);
        }
    }
}