:root {
    --clr-dark: 230, 35%, 7%;
    --clr-accent: 231, 77%, 90%;
    --clr-light: 0, 0%, 100%;
}

/* ==================== */
/* Utility Classes      */
/* ==================== */

.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-accent { background-color: hsl( var(--clr-accent) ); }
.bg-light { background-color: hsl( var(--clr-light) ); }

.text-dark { color: hsl( var(--clr-dark) ); }
.text-accent { color: hsl( var(--clr-accent) ); }
.text-light { color: hsl( var(--clr-light) ); }