@use '../util' as *;

/* ==================== */
/* Utility Classes      */
/* ==================== */

.flex { 
	display: flex; 
	gap: var(--gap, 1rem);
}

.grid { 
	display: grid; 
	gap: var(--gap, 1rem);
}

.d-block { display: block; }

.flow > * + * {
	margin-top: var(--flow-space, 1rem);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.container {
	padding: 0 2em;
	margin: 0 auto;
	max-width: rem(1110);
	@include breakpoint(large) {
		padding: 0;
	}
}

.container--grid {
	overflow-x: hidden;
	--gap: 2rem;
	display: grid;
	place-items: center;
	@include breakpoint(large) {
		align-self: end;
		padding-inline: calc(3vmax + 1rem);
		
		column-gap: var(--gap, 1rem);
		grid-template-columns: repeat(2, 1fr);

		/* Home Page */
		&-home {
			padding-bottom: rem(90);
			& > .grid-col-1 {
				grid-column: 1;
				justify-self: start;
			}
			& > .grid-col-2 {
				grid-column: 2;
				align-self: end;
				justify-self: end;
			}
		}
	}
	@include breakpoint(xlarge) {
		&-home {
			padding-bottom: calc(90px + 2vmin);
		}
	}
}

/* ==================== */
/* Destination Page     */
/* ==================== */
.container--grid-destination {
	--flow-space: 2rem;	
	grid-template-areas: 
		'title'
		'image'
		'tabs'
		'article';

	.numbered-title {
		grid-area: title;
		@include breakpoint(medium) {
			text-align: left;
			justify-self: start;
		}
	}

	.destination__img {
		grid-area: image;
		max-width: 70%;
		align-self: start;
		margin-top: min(3.5rem, 4vmax);
	}

	.tab-list {
		gap: min(2rem, 5vmin);
		--underline-gap: 8px;
		grid-area: tabs;
	}

	.destination__info {
		grid-area: article;
	}

	.destination__meta {
		margin-top: 2.5rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: 1px solid hsla( var(--clr-light ), 0.25 );
		flex-direction: column;
		@include breakpoint(medium) {
			flex-direction: row;
			justify-content: space-evenly;
		}
		@include breakpoint(large) {
			--gap: 3.5rem;
			justify-content: flex-start;
		}
	}
	@include breakpoint(large) {
		justify-items: start;
		align-content: start;
		grid-template-areas: 
			'title title'
			'image tabs'
			'image article';
	}
}

/* ==================== */
/* Crew Page            */
/* ==================== */
.container--grid-crew {
	--flow-space: 2rem;
	grid-template-areas: 
		'title'
		'image'
		'tabs'
		'article';

	.numbered-title {
		grid-area: title;
	}
	
	.crew__img {
		padding-inline: 5em;
		border-bottom: 1px solid hsla( var(--clr-light ), 0.5 );
		grid-area: image;
	}

	.tab-list {
		grid-area: tabs;
	}

	.crew__info {
		grid-area: article;
		padding-bottom: 2em;
	}

	@include breakpoint(medium) {
		grid-template-areas: 
			'title'
			'article'
			'tabs'
			'image';
	}
	@include breakpoint(large) {
		align-items: end;
		justify-items: start;
		grid-template-columns: minmax(0, 38.4375rem) minmax(0, 20.9375rem);
		grid-template-areas: 
			'title image'
			'article image'
			'tabs image';
		
		.tab-list {
			padding-bottom: min(5.7rem, 5vmax);
		}

		.crew__img {
			border: 0;
			padding: 1rem 0 0;
		}
	}
}

/* ==================== */
/* Technology Page      */
/* ==================== */
.container--grid-tech {
	--flow-space: 2rem;
	grid-template-areas: 
		'title'
		'image'
		'tabs'
		'article';

	.numbered-title {
		grid-area: title;
	}

	.tech__img {
		grid-area: image;
	}

	.tab-list {
		grid-area: tabs;
	}

	.tech__info {
		padding-bottom: min(1rem, 3vw);
		grid-area: article;
		& p:last-child {
			margin-top: min(1em, 3vmin);
		}
	}

	@include breakpoint(large) {
		padding: 0;
		margin: 0;
		min-width: 100%;
		padding-bottom: min(6rem, 6vw);
		justify-items: start;
		grid-template-columns: minmax(1rem, 1fr) min-content repeat(2, minmax(0, 555px)) minmax(1rem, 1fr);
		grid-template-areas: 
			'. title title title .'
			'. tabs article image image'
			'. tabs article image image';

		.tech__img {
			justify-self: end;
		}
		
		.tab-list {
			flex-direction: column;
		}
	}
}